---
import Layout from "../layouts/Layout.astro";
import SubPageLayout from "../layouts/SubPageLayout.astro";
---

<Layout title="Invit游눝Arte (Sobre Nosotros)">
  <SubPageLayout title="An칤mate a vivir la experiencia">
    <main class="about__seccion-container container">
      <div class="about__seccion-description">
        <div class="about__seccion">
          <h3 class="about__seccion-title">Sobre Nosotros</h3>
          <p>
            Invit-Arte es un proyecto que surge a partir de la necesidad de crear
            y distribuir invitaciones para todo tipo de eventos.
          </p>
          <p>
            En este sitio cualquier usuario podr치 crear invitaciones
            personalizadas, dando a conocer de una forma f치cil y clara los
            detalles de su evento (fecha, hora, localizaci칩n, vestimenta, entre
            otros) y enviarlas a sus contactos por medio de redes sociales o
            correo electr칩nico.
          </p>
        </div>
        <div class="about__seccion-image">
          <img src="/images/nosotros3.svg" alt="nosotros 1" />
        </div>
      </div>
      <div class="separator"></div>
      <div class="about__seccion-description direction__reverse">
        <div class="about__seccion">
          <h3 class="about__seccion-title">Misi칩n</h3>
          <p>
            Nuestra misi칩n es aprovechar los recursos tecnol칩gicos de hoy en d칤a
            para permitir que nuestros usuarios puedan realizar invitaciones
            para sus eventos de una forma innovadora y creativa, adem치s de
            permitirles compartir sus invitaciones de una forma f치cil, r치pida y
            eficaz.
          </p>
        </div>
        <div class="about__seccion-image">
          <img src="/images/nosotros2.svg" alt="nosotros 1" />
        </div>
      </div>
      <div class="separator"></div>
      <div class="about__seccion-description">
        <div class="about__seccion">
          <h3 class="about__seccion-title">Visi칩n</h3>
          <p>
            Ofrecer la mejor experiencia en cuanto a la personalizaci칩n y
            distribuci칩n de invitaciones a eventos de cualquier 칤ndole,
            ofreciendo una amplia gama de dise침os y manteniendo una alta tasa de
            de satisfacci칩n de nuestros usuarios.
          </p>
        </div>
        <div class="about__seccion-image">
          <img src="/images/nosotros1.svg" alt="nosotros 1" />
        </div>
      </div>
      <div class="separator"></div>
      <div class="about__seccion-description direction__reverse">
        <div class="about__seccion">
          <h3 class="about__seccion-title">Objetivo</h3>
          <p>
            Brindar a los usuarios una plataforma f치cil de usar, para que puedan crear 
            y enviar invitaciones a eventos especiales, como bodas, cumplea침os y graduaciones, 
            con el fin de poder compartir dicas invitaciones de una forma f치cil, r치pida y 
            sencilla. Al mismo tiempo, ayudando a reducir el impacto ambiental que tienen las
            invitaciones f칤sicas.
          </p>
        </div>
        <div class="about__seccion-image">
          <img src="/images/nosotros4.svg" alt="nosotros 4" />
        </div>
      </div>
      <div class="separator"></div>
    </main>
  </SubPageLayout>
</Layout>
