---
import Layout from "../layouts/Layout.astro";
import SubPageLayout from "../layouts/SubPageLayout.astro";
---

<Layout title="InvitArte (Sobre Nosotros)">
  <SubPageLayout title="An铆mate a vivir la experiencia">
    <main class="about__seccion-container container">
      <div class="about__seccion-description">
        <div class="about__seccion">
          <h3 class="about__seccion-title">Sobre Nosotros</h3>
          <p>
            Invit-Arte es un proyecto que surge a partir de la necesidad de crear
            y distribuir invitaciones para todo tipo de eventos.
          </p>
          <p>
            En este sitio cualquier usuario podr谩 crear invitaciones
            personalizadas, dando a conocer de una forma f谩cil y clara los
            detalles de su evento (fecha, hora, localizaci贸n, vestimenta, entre
            otros) y enviarlas a sus contactos por medio de redes sociales o
            correo electr贸nico.
          </p>
        </div>
        <div class="about__seccion-image">
          <img src="/images/nosotros3.svg" alt="nosotros 1" />
        </div>
      </div>
      <div class="separator"></div>
      <div class="about__seccion-description direction__reverse">
        <div class="about__seccion">
          <h3 class="about__seccion-title">Misi贸n</h3>
          <p>
            Nuestra misi贸n es aprovechar los recursos tecnol贸gicos de hoy en d铆a
            para permitir que nuestros usuarios puedan realizar invitaciones
            para sus eventos de una forma innovadora y creativa, adem谩s de
            permitirles compartir sus invitaciones de una forma f谩cil, r谩pida y
            eficaz.
          </p>
        </div>
        <div class="about__seccion-image">
          <img src="/images/nosotros2.svg" alt="nosotros 1" />
        </div>
      </div>
      <div class="separator"></div>
      <div class="about__seccion-description">
        <div class="about__seccion">
          <h3 class="about__seccion-title">Visi贸n</h3>
          <p>
            Ofrecer la mejor experiencia en cuanto a la personalizaci贸n y
            distribuci贸n de invitaciones a eventos de cualquier 铆ndole,
            ofreciendo una amplia gama de dise帽os y manteniendo una alta tasa de
            de satisfacci贸n de nuestros usuarios.
          </p>
        </div>
        <div class="about__seccion-image">
          <img src="/images/nosotros1.svg" alt="nosotros 1" />
        </div>
      </div>
      <div class="separator"></div>
    </main>
  </SubPageLayout>
</Layout>
