---
import Layout from "../layouts/Layout.astro";
import SubPageLayout from "../layouts/SubPageLayout.astro";
import { ContactForm } from "../components/forms/ContactForm.jsx";
---

<Layout title="Invit💛Arte (Contacto)">
  <SubPageLayout title="Envíanos tus ideas">
    <main>
      <section class="contact container">
        <div class="contact__container">
          <ContactForm client:load />
        </div>
        <div class="contact__container">
          <a href="" class="contact__button">
            <p>
              <i class="bx bxl-whatsapp"></i>
              <span>Envíanos tus ideas por WhatsApp</span>
            </p>
          </a>
          <a href=""></a>
        </div>
      </section>
    </main>
  </SubPageLayout>
</Layout>
<script>
  import { supabase } from "../config/supabase.config";

  const botonWA = document.querySelector(".contact__button");
  const mensaje =
    "Hola, Invit.Arte, quiero realizar una invitación para una fecha importante, ¿Me ayudarías a crear mi invitación?";
  botonWA.addEventListener("click", () => {
    window.open(`https://wa.me/525611268833?text=${mensaje}`);
  });
</script>
