---
import Layout from "../layouts/Layout.astro";
import SubPageLayout from "../layouts/SubPageLayout.astro";
---

<Layout title="InvitArte (Pol铆titca de privacidad)">
  <SubPageLayout title="Pol铆titca de privacidad">
    <main class="privacy__seccion-container container">
      <div class="privacy__seccion-description">
        <div class="privacy__seccion">
          <h3 class="privacy__seccion-title">Pol铆titca de privacidad</h3>
          <p>
            El sitio web Invit-Arte es propiedad de UTechN, que es un
            controlador de datos de tus datos personales. Hemos adoptado esta
            Pol铆tica de privacidad, que determina c贸mo procesamos la informaci贸n
            recopilada por Invit-Arte, que tambi茅n proporciona las razones por
            las que debemos recopilar ciertos datos personales sobre ti. Por lo
            tanto, debes leer esta Pol铆tica de privacidad antes de usar el sitio
            web de Invit-Arte.
          </p>
          <p>
            Cuidamos tus datos personales y nos comprometemos a garantizar su
            confidencialidad y seguridad. Informaci贸n personal que recopilamos:
            Cuando visitas Invit-Arte, recopilamos autom谩ticamente cierta
            informaci贸n sobre tu dispositivo, incluida informaci贸n sobre tu
            navegador web, direcci贸n IP, zona horaria y algunas de las cookies
            instaladas en tu dispositivo. Adem谩s, a medida que navegas por el
            sitio, recopilamos informaci贸n sobre las p谩ginas web individuales o
            los productos que ves, qu茅 sitios web o t茅rminos de b煤squeda te
            remitieron al sitio y c贸mo interact煤as con 茅l. Nos referimos a esta
            informaci贸n recopilada autom谩ticamente como "Informaci贸n del
            dispositivo". Adem谩s, podemos recopilar los datos personales que nos
            proporcionas (incluidos, entre otros, nombre, apellido, direcci贸n,
            informaci贸n de pago, etc.) durante el registro para poder cumplir
            con el acuerdo. 驴Por qu茅 procesamos tus datos? Nuestra m谩xima
            prioridad es la seguridad de los datos del cliente y, como tal,
            podemos procesar solo los datos m铆nimos del usuario, solo en la
            medida en que sea absolutamente necesario para mantener el sitio
            web.
          </p>
          <p>
            La informaci贸n recopilada autom谩ticamente se utiliza solo para
            identificar casos potenciales de abuso y establecer informaci贸n
            estad铆stica sobre el uso del sitio web. Esta informaci贸n estad铆stica
            no se agrega de tal manera que identifique a ning煤n usuario en
            particular del sistema. Puedes visitar el sitio sin decirnos qui茅n
            eres ni revelar ninguna informaci贸n por la cual alguien pueda
            identificarte como una persona espec铆fica. Sin embargo, si deseas
            utilizar algunas de las funciones del sitio web, o deseas recibir
            nuestro bolet铆n informativo o proporcionar otros detalles al
            completar un formulario, puedes proporcionarnos datos personales,
            como tu correo electr贸nico, nombre, apellido, ciudad de residencia,
            organizaci贸n y n煤mero de tel茅fono. Puedes optar por no proporcionar
            tus datos personales, pero es posible que no puedas aprovechar
            algunas de las funciones del sitio web. Por ejemplo, no podr谩s
            recibir nuestro bolet铆n ni contactarnos directamente desde el sitio
            web. Los usuarios que no est茅n seguros de qu茅 informaci贸n es
            obligatoria pueden ponerse en contacto con nosotros a trav茅s de
            invit-arte@gmail.com.
          </p>
          <p>
            Tus derechos: Si eres residente europeo, tienes los siguientes
            derechos relacionados con tus datos personales: El derecho a ser
            informado. El derecho de acceso. El derecho a la rectificaci贸n. El
            derecho a borrar. El derecho a restringir el procesamiento. El
            derecho a la portabilidad de datos. El derecho a oponerte. Derechos
            en relaci贸n con la toma de decisiones automatizada y la elaboraci贸n
            de perfiles. Si deseas ejercer este derecho, comun铆cate con nosotros
            a trav茅s de la informaci贸n de contacto a continuaci贸n. Adem谩s, si
            eres residente europeo, destacamos que estamos procesando tu
            informaci贸n para cumplir con los contratos que podr铆amos tener
            contigo (por ejemplo, si realizas un pedido a trav茅s del sitio), o
            de otra manera para seguir nuestros intereses comerciales leg铆timos
            enumerados anteriormente. Adem谩s, ten en cuenta que tu informaci贸n
            puede transferirse fuera de Europa, incluidos Canad谩 y Estados
            Unidos. Enlaces a otros sitios web: Nuestro sitio puede contener
            enlaces a otros sitios web que no son de nuestra propiedad ni est谩n
            controlados por nosotros. Ten en cuenta que no somos responsables de
            dichos sitios web ni de las pr谩cticas de privacidad de terceros. Te
            recomendamos que est茅s atento cuando abandones nuestro sitio web y
            leas las declaraciones de privacidad de cada sitio que pueda
            recopilar informaci贸n personal.
          </p>
          <p>
            Seguridad de la informaci贸n: Aseguramos la informaci贸n que
            proporcionas en servidores inform谩ticos en un entorno controlado y
            seguro, protegido del acceso, uso o divulgaci贸n no autorizados.
            Mantenemos medidas de seguridad administrativas, t茅cnicas y f铆sicas
            razonables para proteger contra el acceso no autorizado, el uso, la
            modificaci贸n y la divulgaci贸n de datos personales bajo su control y
            custodia. Sin embargo, no se puede garantizar la transmisi贸n de
            datos a trav茅s de Internet o redes inal谩mbricas. Divulgaci贸n legal:
            Divulgaremos cualquier informaci贸n que recopilemos, usemos o
            recibamos si as铆 lo requiere o lo permite la ley, como para cumplir
            con una citaci贸n o un proceso legal similar, y cuando creemos de
            buena fe que la divulgaci贸n es necesaria para proteger nuestros
            derechos, proteger tu seguridad o la seguridad de los dem谩s,
            investigar el fraude o responder a una solicitud del gobierno.
            Informaci贸n de contacto: Si deseas comunicarte con nosotros para
            comprender m谩s sobre esta Pol铆tica o deseas comunicarte con nosotros
            en relaci贸n con cualquier asunto sobre los derechos individuales y
            tu informaci贸n personal, puedes enviarnos un correo electr贸nico a
            invit-arte@gmail.com.
          </p>
        </div>
      </div>
    </main>
  </SubPageLayout>
</Layout>
