<section class="container margin__bottom">
  <h4 class="subtitle">Anímate a hacer tu evento único antes que inicie</h4>
  <div class="buttons__container">
    <div class="button__select-container">
      <a href="/designs/" class="button__select">
        <span>Elige un diseño</span>
        <img src="/images/undraw_party_re_nmwj.svg" alt="s" />
      </a>
    </div>
    <div class="button__select-container">
      <a href="/contact/" class="button__select">
        <span>Personaliza tu diseño</span>
        <img src="/images/undraw_selecting_team_re_ndkb.svg" alt="s" />
      </a>
    </div>
  </div>
</section>
