---
import Navbar from "../Navbar.jsx";
---

<header class="header h-with__nav">
  <Navbar client:load />
  <section class="container header__title-container">
    <h1>Invit💛Arte</h1>
    <h2>Crea invitaciones a <span>tu estilo.</span></h2>
    <div class="header__title-img">
      <img src="/images/logo.svg" alt="logo" />
    </div>
  </section>
</header>
