<section class="container margin__bottom">
  <h4 class="subtitle">Conoce los planes que tenemos para ti
  </h4>
</section>

    <main>
      <section class="sPrecios">
        <div class="contenedor">
          <div class="contenedorP">
            <div class="fondo">
              <article class="tarjetaP">
                <header class="cabeceraP">
                  <div class="formaP">
                    <i class="fa-solid fa-hand-holding-heart"></i>
                  </div>
                  <h1 class="tituloP">Básico</h1>
                  <h2 class="costo">$0.00 MXN</h2>
                </header>
                <ul class="listaP">
                  <li class="caracP">
                    <i class="fa-regular fa-circle-check"></i> Escoge de entre un
                    conjunto de plantillas prediseñadas
                  </li>
                  <li class="caracP">
                    <i class="fa-regular fa-circle-check"></i>Llena un
                    formulario con los datos de tu evento y obten tu invitación
                    automáticamente
                  </li>
                </ul>
                <a href="/designs/" class="button boton flex botonP">
                  Crea tus invitaciones<i class="fa-solid fa-arrow-right"></i>
                </a>
              </article>
            </div>
            <div class="fondo">
              <article class="tarjetaP tarjetaP2">
                <header class="cabeceraP">
                  <div class="formaP">
                    <i class="fa-solid fa-crown"></i>
                  </div>
                  <h1 class="tituloP">Premium</h1>
                  <h2 class="costo">$500.00 MXN</h2>
                </header>
                <ul class="listaP">
                  <li class="caracP">
                    <i class="fa-regular fa-circle-check"></i> Ponte en contacto
                    para obtener una invitación personalizada
                  </li>
                  <li class="caracP">
                    <i class="fa-regular fa-circle-check"></i>Contacto con
                    diseñadores profesionales
                  </li>
                </ul>
                <a href="/contact/" class="button boton flex botonP">
                  Cuentanos tus ideas<i class="fa-solid fa-arrow-right"></i>
                </a>
              </article>
            </div>
          </div>
        </div>
      </section>
    </main>

