<section class="welcome__section-container container margin__bottom">
  <section class="welcome__section container">
    <h5>
      Plasma tus ideas y personaliza tus invitaciones de una forma facil y
      sencilla.
    </h5>
    <div class="welcome__section-image">
      <img src="./images/undraw_mello_otq1.svg" alt="undraw_mello_otq1" />
    </div>
  </section>
</section>
