<footer class="footer">
  <div class="separator"></div>
  <div class="footer__about container">
    <span> Copyright © 2022 Invit♥Arte</span>
    <div class="footer__social">
      <a href="#"><i class="bx bxl-facebook-circle"></i></a>
      <a href="#"><i class="bx bxl-instagram-alt"></i></a>
      <a href="#"><i class="bx bxl-twitter"></i></a>
      <a href="#"><i class="bx bxl-youtube"></i></a>
    </div>
  </div>
</footer>
<button class="button__top">
  <i class="fa-solid fa-arrow-up"></i>
</button>
<script type="module">
  export const goUp = () => {
    const buttonArrow = document.querySelector(".button__top");
    /* Ya que esta funcion se ejecuta cuando se carga el documento, el boton se ocultara al cargar la pagina */
    buttonArrow.style = `display:none`;

    window.addEventListener("scroll", () => {
      if (document.documentElement.scrollTop === 0) {
        buttonArrow.style = `display:none`;
      } else {
        buttonArrow.style = `display:block`;
      }
    });

    buttonArrow.addEventListener("click", () => scroll(0, 0));
  };

  goUp();
</script>
